/* css styles */
/* Default styling for inline code */
code {
    background-color: #333; /* Dark gray for dark mode */
    color: #dedede; /* Light text for readability */
    padding: 2px 4px;
    border-radius: 4px; 
}

/* Dark mode styling for inline code */
@media (prefers-color-scheme: dark) {
    code {
        background-color: #dedede; /* Light gray for light mode */
        color: #333; /* Dark text for readability */
    }
}