/*-- scss:defaults --*/

// Define colors for light mode
$code-bg: #f4f4f4 !default; // Light gray background
$code-color: #d63384 !default; // Pinkish-red text

/*-- scss:rules --*/

code {
    background-color: $code-bg;
    color: $code-color;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 4px;
}
